h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

.hero {
  background: linear-gradient(rgba(8, 121, 238, 0.6), rgba(8, 121, 238, 0.4)), url(http://placekitten.com/g/1200/600) no-repeat top center;
  background-size: cover;
  height: 800px;
  max-height: 70vh;
  text-align: center;
}
.hero .hero-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}
.hero .hero-content h1, .hero .hero-content h2 {
  margin-top: 0;
}
.hero .hero-content h1 {
  font-size: 70px;
}
.hero .hero-content p {
  font-size: 30px;
  margin-bottom: 30px;
}
.hero .hero-content .cta a {
  font-size: 30px;
}

#site-header {
  background: #333;
}
#site-header .navbar {
  border-radius: 0;
  margin: 0;
  border: none;
}
#site-header .navbar a {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-style: italic;
  color: #999;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}
section .section-header {
  text-align: center;
}
section .section-header h2 {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: #aaa;
  position: relative;
  letter-spacing: 3px;
  font-style: italic;
}
section .section-header h2:before, section .section-header h2:after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 20%;
  left: 40%;
  background: #aaa;
}
section .section-header h2::before {
  top: 0;
}
section .section-header h2::after {
  bottom: 0;
}

#site-footer {
  padding-bottom: 30px;
  padding-top: 30px;
  background: #333;
  color: #999;
  text-align: center;
}

body {
  background: #efefef;
  color: #999;
}
